@font-face {
  font-family: "Hind", Verdana, sans-serif;
  src: url("../fonts/HInd-Light.ttf")

Header {
  background-color: #e0ccff;
  border-style: groove;
  border-color: #8000ff
  border-width: 5px;
}

main {
  background-color: #fff0b3;
}

h1 {
  color: red;
}

p {
  font-size: 1.5em;
  color: #334990;
}

div {
  border-style: solid;
  border-width: 2px;
  border-color: #ff1aff;
  height: 70px;
  padding: 2px;
}

button {
  width: 32%;
  height: 50px;
  float: left;
  margin: 3px;
}
